<!-- PAGE HEADER / TITLE + SUBTITLE -->
<div
    class="text-center py-15 px-5 mt-10 mb-10 opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in"
>
    <h1 class="font-bold text-[60px] font-archivo mb-2.5">NovaMTR Stations</h1>
    <p class="text-[22px] max-w-200 my-0 mx-auto opacity-80">
        Explore our network of beautifully crafted stations — each one built
        with care, creativity, and the unique personality of our community.
    </p>
</div>
