---
import { Picture } from "astro:assets";
import NovaKitty from "../../img/nmtr_logo.png";
---

<!-- SECTION 5 / MASCOT -->
<section
    class="py-15 px-10 my-0 mx-auto opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-150"
>
    <h2
        class="font-bold text-[40px] font-archivo mb-6.25 text-center opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-300"
    >
        Mascot — The NovaKitty
    </h2>
    <p
        class="text-[20px] leading-[1.7] text-center mb-5 opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-450"
    >
        NovaMTR’s mascot is the NovaKitty — an abstract, stylised cat head that
        spells “NOVA.” The NovaKitty appears in emojis, stickers, and server
        branding.
    </p>

    <Picture
        src={NovaKitty}
        formats={["avif", "webp", "png"]}
        layout="constrained"
        alt="NovaMTR Logo"
        class="block my-1/2 mx-auto w-1/5 max-w-212.5 border-[#222] border-2 border-solid bg-[#111] object-cover rounded-md opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in hover:scale-105"
        loading="lazy"
    /><br />

    <p
        class="text-[20px] leading-[1.7] text-center mb-5 opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-450"
    >
        The Official NovaMTR Logo
    </p>
</section>
