---
import { Picture } from "astro:assets";
import MtHaven from "../../img/mt_haven.png";
---

<section class="py-15 px-10 max-w-250 my-0 mx-auto opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-150">
    <h2 class="text-[40px] font-archivo mb-6.25 text-center opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-300">What is NovaMTR?</h2>
    <p class="text-[20px] leading-[1.7] text-center mb-5 opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in delay-450">
        NovaMTR (NMTR) is a Minecraft Transit Railway–based server owned by
        Quanti and hosted by AwesomeKalin55. The server focuses on fun,
        creativity, and community expression, offering a unique experience
        compared to traditional MTR servers.
    </p>

    <Picture
        src={MtHaven}
        formats={["avif", "webp", "png"]}
        layout="constrained"
        alt="Mount Haven"
        class="block my-1/2 mx-auto w-9/10 max-w-212.5 border-[#222] border-2 border-solid bg-[#111] object-cover rounded-md opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in hover:scale-105"
        loading="lazy"
    />
</section>
