<!-- HISTORY ENTRY 8 -->
<div dir="ltr">
    <div
        class="bg-[#111] p-6.25 my-8.75 mx-0 border-s-4 border-s-solid border-s-lightgreen opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in"
    >
        <h3 class="font-archivo text-[26px] mb-2.5">Server Outages</h3>
        <p class="text-[18px] leading-[1.7] opacity-85">
            In January/February 2026, an unexpected server downtime occurred. A
            week later, another outage occurred, this time with some stations
            being accidentally pruned due to world size. This is related to the
            Pruned Chunks Incident.
        </p>
    </div>
</div>
