---
const currentYear = new Date().getFullYear();
---

<footer class="bg-black border-t-5 border-solid border-fuchsia-300 mt-8 py-6">
    <div class="m-auto text-center w-4/5 px-[4vw]">
        <p class="font-[Arial, sans-serif] text-[#777777] my-2">
            Contact: <a href="novamtr@awesomekalin.eu.org" class="text-fuchsia-600 hover:text-fuchsia-800 transition duration-300">
                novamtr@awesomekalin.eu.org
            </a>
        </p>
        <p class="font-[Arial, sans-serif] text-[#777777] text-sm">
            &copy; 2025-{currentYear} NovaMTR. CC BY-SA 4.0.
        </p>
    </div>
</footer>