---
import { Picture } from "astro:assets";
const props = Astro.props;
---

<div data-modal-wrapper class="relative">
    <div data-modal-trigger class="cursor-pointer">
        <Picture
            src={props.img}
            formats={["avif", "webp", "jpeg"]}
            layout="constrained"
            alt={props.alt}
            class="ml-25 w-full max-w-150 max-h-100 rounded-[5px] transition duration-300 object-cover float-right border-5 border-solid border-fuchsia-300 hover:opacity-[0.7]"
        />
    </div>

    <h2
        class="font-[Trebuchet MS, serif] text-[#7777ff] text-4xl my-[0.83em] mx-0 font-bold [unicode-bidi:isolate]"
    >
        {props.title}
    </h2>

    <p
        class="font-[Arial, sans-serif] text-[#777777] block my-[1em] mx-0 [unicode-bidi:isolate]"
    >
        <slot />
    </p>
    <br />

    <!-- Modal -->
    <div
        data-modal
        class="hidden fixed inset-0 z-50 bg-black/80 overflow-auto pt-25"
    >
        <span
            data-modal-close
            class="absolute top-4 right-9 text-[#f1f1f1] text-[40px] font-bold hover:text-[#bbb] cursor-pointer"
        >
            &times;
        </span>

        <img data-modal-img class="m-auto block w-4/5 max-w-175" alt="See caption" />

        <div
            data-modal-caption
            class="m-auto block w-4/5 text-center text-[#ccc] py-2.5 text-[30px]"
        >
        </div>
    </div>
</div>

<script>
    document.addEventListener("click", (e) => {
        if (e === null) return;
        const trigger = e.target.closest("[data-modal-trigger]");
        const closeBtn = e.target.closest("[data-modal-close]");
        const modalBg = e.target.matches("[data-modal]");

        // OPEN
        if (trigger) {
            const wrapper = trigger.closest("[data-modal-wrapper]");
            const modal = wrapper.querySelector("[data-modal]");
            const img = trigger.querySelector("img");
            const modalImg = wrapper.querySelector("[data-modal-img]");
            const caption = wrapper.querySelector("[data-modal-caption]");

            modal.classList.remove("hidden");
            modalImg.src = img.currentSrc || img.src;
            caption.textContent = img.alt;
        }

        // CLOSE (X button)
        if (closeBtn) {
            const wrapper = closeBtn.closest("[data-modal-wrapper]");
            wrapper.querySelector("[data-modal]").classList.add("hidden");
        }

        // CLOSE (background click)
        if (modalBg) {
            e.target.classList.add("hidden");
        }
    });
</script>
