---
import { Picture } from "astro:assets";
import expo from "../../img/expo.png";
---

<div
    class="relative w-full opacity-0 translate-y-6.25 transition-all duration-800 ease-out fade-in"
>
    <Picture
        src={expo}
        formats={["avif", "webp", "png"]}
        layout="full-width"
        alt="Expo Station"
        class="w-full h-auto"
        loading="eager"
    />
    <h2
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[120px] font-archivo text-shadow-[2px_2px_8px_rgba(0,0,0,0.7)] z-999 text-center font-bold leading-none"
    >
        Welcome to NovaMTR!
    </h2>
</div>
