---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NovaMTR</title>
	</head>
	<body class="font-arial text-white transition duration-300">
        <Header />
		<slot />
	</body>
</html>
